/* Contact Form */
$placeholder: $primary;
$input-height: 50px;
$input-background:#ebebeb;
$input-font-size:16px;
$input-border: solid 1px $primary;
$input-border-hover: solid 1px $primary;
$label-color:$primary;
$input-color:$primary;


.main-form {
  * {
    outline: none !important;
  }
  position: relative;
  &:before,&:after {
    content: " "; display: table; 
  }
  &:after{
    clear: both; 

  }
  label {
    display: block;
    padding: 10px 5px 5px 2px;
    font-size: 1.1em;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: $heading;
    color:$label-color;
  
  }
  input,textarea,select {
    font-family: $heading;
    line-height: 1.5;
    font-size: $input-font-size;
    padding: 0px 10px;
    color: $input-color;
    display: block;
    width: 100%;
    background: $input-background;
    height:$input-height;
    border:$input-border;
    @include placeholder($placeholder);
    @include transition(.3s all);
    &:focus {
      border-color:$input-border-hover;
    }
  }
  select {
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFW…zTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
    padding: .5em;
  }
  textarea {
    min-height: 200px;

  }
  input[type="submit"] {
    @extend .button !optional;

  }
  #nospam, .nospam {
    display:none;
  }

}



.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}