* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.branding {
  a {
    &:hover {
      @include opacity(.4);
    }
  }
}

div.text-center {
    position: relative;
    z-index: 2;
  i {
    color:white;
    font-size: 55px;
  }
}
header {
  text-align: center;
  background: white;
  a {
    color:$color-2;
  }
    width:100%;
    padding:5em 0 11em;
    .hero {

    }

}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.mouse {
  position: absolute;
  width: 22px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid white;
  -webkit-animation: intro 1s;
  animation: intro 1s;
  z-index: 1000;
  
}
.scroll {
  display: block;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: white;
  -webkit-animation: finger 1s infinite;
  animation: finger 1s infinite;
}
.intro {
  background: $color-1;
  div[class*="content"] {
    margin:5em 0 0;
    img {
      border:solid 4px white;
      border-radius:5px;
      box-shadow:0 0 10px rgba(black,.8);
    }
  }
  .content-1 {
    img {
      transform:rotate(3deg);
    }
  }
  .content-2 {
    img {
      transform:rotate(-3deg);
    }
  }
}


.logo {
  text-align: center;
  max-width:150px;
  margin:2em auto;
}

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em;
  position: relative;
    
}

.footer {

  padding:3em;
  @include viewport(md){
    padding:3em 0;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    strong {
      font-weight: 900;
    }
  }
  p,h1,h2,h3,ul,li {
    font-style: normal;
  }
}

.wrap {
  max-width: 940px;
  margin:0 auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.hero {
  padding:8em 2em;
  @include viewport(md){
      height:100vh;
      padding: 0;
      h1 {
        padding-top: 34vh;
      }
    }
  background: $color-1;
  position: relative;
  text-align: center;
  .logo {
    width:200px;
    max-width:none;
    @include viewport(sm){
      width:300px;
    }
  }
  h1 {
    font-style: oblique;
    font-size: 60px;
    font-weight: 800;
    color:white;
    position: relative;
    z-index: 2;
    @include viewport(sm){
      font-size: 120px;
    }
  }
  .hero-image {
    background-size: cover;
    background-position: center;
    background-image: url('/resources/img/hero.jpg');
    opacity:.5;
    position: absolute;
    z-index:1;
    width:100%;
    top:0;
    left:0;
    height:100%;
  }
  
}

.intro {
  padding-top:5em;
  padding-bottom:8em;
  h2 {
    text-align: center;
  }
  h1 {
    text-align: center;
    font-style: oblique;
    font-weight: 100;
  }
  p {
    font-style: normal;
    font-weight: 100;
  }
}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


/* Responsive Video Embeds */
.video-container {
    position: relative;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
       position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}