

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}




img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

/* -------------------------------- 

Main components 

-------------------------------- */


.branding {
	position: relative;
	z-index: 3;
}

header,.footer {
	position: relative;
	z-index: 2;
}
.forty {
	position: fixed;
	z-index:20;
	right: 0;
	bottom:0;
	display: none;
	width:100px;
	@include viewport(sm){
		display:block;
	}
}

.footer {
	background:$color-1;
}

.branding {
	background: $color-2;
    transform: skewY(-3.5deg);
    padding: 7em 0;
    text-align: center;
    margin-top:-5em;
    .content {
    transform: skewY(3.5deg);
    img {
    	width:90%;
    	max-width:500px;
    }

    }
}



#cd-timeline {
	position: relative;
	padding: 2em 0;
	padding-top:8em;
	margin: {
		top: -1em;
		bottom: 2em;
	}

	&::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 20px;
		background: $color-2;
	}

	@include MQ(L) {
		margin: {
			top: -1em;
			bottom: 0em;
		}

		&::before {
			left: 50%;
			margin-left: -2px;
		}
	}
}

.cd-timeline-block {
	
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child {
		margin-top: 4em;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include MQ(L) {
		margin: -1em 0;

		&:first-child {
			margin-top: 4em;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cd-timeline-img {
    position: absolute;
    top: 10%;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

	img {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}

	&.cd-picture {
		background: $color-4;
	}

	&.cd-movie {
		background: $color-2;
	}

	&.cd-location {
		background: $color-5;
	}

	@include MQ(L) {
	    width: 40px;
	    height: 40px;
	    left: 50%;
	    margin-left: -12px;

		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			@include animation(cd-bounce-1 .6s);
		}
	}
}

@include keyframes(cd-bounce-1) {
	0% {
		opacity: 0;
		@include transform(scale(.5));
	}

	60% {
		opacity: 1;
		@include transform(scale(1.2));
	}

	100% {
		@include transform(scale(1));
	}
}



.cd-date {
	transform-origin: center;
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	padding: 1em;
	
	@include clearfix;

	h2 {
		color: $color-1;
	}

	p, .cd-read-more, .cd-date {
		@include font-size(13px);
	}

	.cd-read-more, .cd-date {
		display: inline-block;
	}

	p {
		margin: 1em 0;
		line-height: 1.6;
	}

	.cd-read-more {
		float: right;
		padding: .8em 1em;
		background: $link;
		color: $color-3;
		@include border-radius;

		.no-touch &:hover {
			background-color: lighten($link, 5%);
		}
	}

	.cd-date {
		float: left;
		opacity: 1;
	}

	&::before {
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $color-3;
	}

	@include MQ(M) {
		h2 {
			@include font-size(20px);
		}

		p {
			@include font-size(16px);
		}

		.cd-read-more, .cd-date {
			@include font-size(14px);
		}
	}

	@include MQ(L) {
		margin-left: 0;
		padding: 1.6em;
		width: 45%;

		&::before {
			top: 24px;
			left: 100%;
			border-color: transparent;
			border-left-color: $color-3;
		}

		.cd-read-more {
			float: left;
		}

		.cd-date {
			position: absolute;
			width: 100%;
			left: 122%;
			top: 6px;
			@include font-size(16px);
		}

		.cd-timeline-block:nth-child(even) & {
			float: right;

			&::before {
				top: 24px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: $color-3;
			}

			.cd-read-more {
				float: right;
			}

			.cd-date {
				left: auto;
				right: 122%;
				text-align: right;
			}
		}

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			.cd-date {
				&.animate {
					img{
						@include animation(cd-bounce-1 .6s);

					}
				}

			}
			.img-contain {
				&.animate {
					@include animation(cd-bounce-2 .6s);
				}

			}
			
		}
	}
}



.cd-content.is-hidden {
	visibility:visible;
}
.cd-timeline-content{
	&.is-visible {
		.cd-date img,.img-contain {
		opacity:1;
		}
	}
	.cd-date {
		img {
	opacity:0;

		}
	&.animate {
		img{
		opacity: 1;
			
		}
		}
	}
.img-contain {
	opacity:0;
	&.animate {
		opacity: 1;
		}
	}
}

.cd-timeline-content .img-contain.animate img {
	margin-left:3em;
	width:100%;
	@include MQ(M) {
		width:60%;
	max-width:300px;

	}

}


@include MQ(L) {
	.cd-timeline-content .img-contain.animate img {
	margin-left:0em;
	width:auto;
	max-width:none;

}
	/* inverse bounce effect on even content blocks */
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		.img-contain {
				&.animate {

				@include animation(cd-bounce-2-inverse .6s);
					}

			}
	}
}

@include keyframes(cd-bounce-2) {
	0% {
		opacity: 0;
		@include transform(translateX(-100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(20px));
	}

	100% {
		@include transform(translateX(0));
		opacity: 1;

	}
}

@include keyframes(cd-bounce-2-inverse) {
	0% {
		opacity: 0;
		@include transform(translateX(100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(-20px));
	}

	100% {
		@include transform(translateX(0));
		opacity: 1;

	}
}

.img-contain {
	margin-top:-3em;
}

.cd-timeline-block:nth-child(even) {
	.img-contain {
		text-align: left;
	}
}


progress::-webkit-progress-bar {
  background-color: darken($color-2,20);
  
}

progress::-webkit-progress-value {
  background-color: $color-2;
}

progress::-moz-progress-bar {
  background-color: $color-2;
}




progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 20px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: darken($color-2,20);

  /* Progress bar value for IE10+ */
  color: $color-2;
  z-index: 1000;
}
