body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  margin-top: 0;
}

h1 {
  margin: 0 0 .5em 0;

  font-size: 50px;
  font-weight: 600;
  font-weight: 400;
  line-height: 1;

}

h2 {
  text-transform: uppercase;
}
h3 {
  font-family: $body;
}

/* PARAGRAPH */

.intro,.footer {
  p,h1,h2,h3 {
   color: white;
  }
}

p {
  font-family: $body;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
  font-style: oblique;
  font-weight: 900;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  
}