// COLOR PALETTE
$primary: #033063;
$secondary: #142E4A;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$heading-color:#222222;

// FONT STACKS
$heading: "fira-sans",sans-serif;
$body: "adelle",serif;

// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: white; // body background color

$color-1: #58595b; // blue dark
$color-2: #f58427; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// fonts 

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;

// breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     940px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

